@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@media screen and (min-width: 200px) {
  .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .button, .button:hover {
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
button,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  position: relative;
  background-color: #121725;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: white;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 768px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 62px;
  }
}

* {
  font-family: 'Chivo';
  font-style: normal;
  letter-spacing: 0px;
  font-weight: 300;
  color: white;
  line-height: 0;
}

.title {
  font-size: 52px;
  line-height: 62px;
}

.button {
  font-size: 14px;
  line-height: 28px;
  font-weight: 700;
}

.error {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}

input::-webkit-input-placeholder {
  font-family: 'Chivo';
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
}

input:-ms-input-placeholder {
  font-family: 'Chivo';
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
}

input::-ms-input-placeholder {
  font-family: 'Chivo';
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
}

input::placeholder {
  font-family: 'Chivo';
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
}

input {
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
}

p {
  font-size: 18px;
  line-height: 28px;
}

.dark {
  color: #121725;
}

.light-green {
  color: #54E6AF;
}

.grey {
  color: #C2CBE5;
}

.red {
  color: #fb3e3e;
}

@media screen and (max-width: 1200px) {
  .title {
    font-size: 48px;
    line-height: 56px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 27px;
    line-height: 38px;
    text-align: center;
  }
  p {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }
}

.button {
  background: #54E6AF;
  -webkit-box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.2);
          box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.2);
  border-radius: 28px;
  width: 162px;
  height: 46px;
  cursor: pointer;
}

.button:hover {
  background: #B3FFE2;
}

.brand {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.brand.spotify {
  background-image: url(/assets/desktop/spotify.svg);
  width: 96px;
  height: 29px;
}

.brand.apple {
  background-image: url(/assets/desktop/apple-podcast.svg);
  width: 78px;
  height: 28px;
}

.brand.google {
  background-image: url(/assets/desktop/google-podcasts.svg);
  width: 125px;
  height: 16px;
}

.brand.pocket {
  background-image: url(/assets/desktop/pocket-casts.svg);
  width: 129px;
  height: 26px;
}

@media screen and (max-width: 768px) {
  .brand.spotify {
    background-image: url(/assets/desktop/spotify.svg);
    width: 56px;
    height: 17px;
  }
  .brand.apple {
    background-image: url(/assets/desktop/apple-podcast.svg);
    width: 45px;
    height: 17px;
  }
  .brand.google {
    background-image: url(/assets/desktop/google-podcasts.svg);
    width: 73px;
    height: 11px;
  }
  .brand.pocket {
    background-image: url(/assets/desktop/pocket-casts.svg);
    width: 77px;
    height: 15px;
  }
}

.container {
  width: 1275px;
  height: 640px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container::after {
  content: '';
  width: 232px;
  height: 104px;
  background-image: url(/assets/desktop/bg-pattern-dots.svg);
  position: absolute;
  top: unset;
  right: -116px;
  bottom: -52px;
  left: unset;
  z-index: 2;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    height: 767px;
    padding-left: 39px;
  }
  .container::after {
    display: none;
  }
  body::after {
    content: '';
    width: 232px;
    height: 104px;
    background-image: url(/assets/desktop/bg-pattern-dots.svg);
    position: absolute;
    top: unset;
    right: unset;
    bottom: -3px;
    left: 39px;
    z-index: 2;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 327px;
    height: 511px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
    position: relative;
  }
  body::after {
    display: none;
  }
}

.container > img {
  width: 135px;
  height: 56px;
  position: absolute;
  top: -28px;
  right: unset;
  bottom: unset;
  left: 0px;
  z-index: 2;
}

@media screen and (max-width: 1200px) {
  .container > img {
    position: absolute;
    top: 39px;
    right: unset;
    bottom: unset;
    left: 50px;
  }
}

@media screen and (max-width: 768px) {
  .container > img {
    position: relative;
    top: 0px;
    left: 0px;
    margin-bottom: 57px;
  }
}

.main-image {
  width: 902px;
  height: 640px;
  position: relative;
  z-index: 1;
  background-image: url(/assets/desktop/image-host.jpg);
  background-size: cover;
  background-position: left;
}

@media screen and (max-width: 1200px) {
  .main-image {
    width: 491px;
    height: 767px;
    background-image: url(/assets/tablet/image-host.jpg);
    background-size: cover;
    background-position: left;
  }
}

@media screen and (max-width: 768px) {
  .main-image {
    display: none;
  }
}

.main-description {
  width: 723px;
  height: 509px;
  position: absolute;
  top: unset;
  right: unset;
  bottom: 0px;
  left: 0px;
  z-index: 3;
  padding: 88px 58px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #121725;
}

.main-description > p {
  width: 445px;
  margin-top: 24px;
}

.email-input {
  width: 427px;
  height: 56px;
  background: #2C344B;
  border-radius: 28px;
  position: relative;
  margin-top: 40px;
}

.email-input > input {
  background: #2C344B;
  border: none;
  padding-left: 32px;
  width: 100%;
  height: 100%;
  border-radius: 28px;
  outline: none;
  position: relative;
}

.email-input > a {
  position: absolute;
  top: 5px;
  right: 6px;
  bottom: unset;
  left: unset;
}

.brands {
  width: 536px;
  height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.25;
  margin-top: 64px;
}

.error {
  position: absolute;
  top: unset;
  right: unset;
  bottom: -25px;
  left: 32px;
  opacity: 0;
  z-index: -3;
}

.error.active {
  opacity: 1;
  z-index: 2;
}

@media screen and (max-width: 1200px) {
  .main-description {
    width: 635px;
    position: absolute;
    top: unset;
    right: unset;
    bottom: 0px;
    left: 39px;
    padding: 0px;
  }
  .main-description > p {
    width: 327px;
    margin-top: 31px;
  }
}

@media screen and (max-width: 768px) {
  .main-description {
    width: 336px;
    height: 398px;
    padding: 0px;
    left: unset;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .title {
    margin-bottom: 16px;
  }
  .main-description > p {
    width: 327px;
    margin-top: 0px;
    margin-bottom: 98px;
  }
  .email-input {
    width: 327px;
    height: 108px;
    border-radius: 0px;
    position: relative;
    background: transparent;
    margin-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .email-input > input {
    height: 46px;
  }
  .email-input > a {
    position: relative;
    top: unset;
    right: unset;
    width: 100%;
    height: 46px;
  }
  .brands {
    width: 315px;
    height: 17px;
    position: absolute;
    top: unset;
    right: unset;
    bottom: 155px;
    left: unset;
  }
  .error {
    position: absolute;
    top: unset;
    right: unset;
    bottom: -25px;
    left: 32px;
  }
}
/*# sourceMappingURL=style.css.map */